<p id="notice"><%= notice %></p>
<h1>Profile</h1>

<% if current_user.id == profile.user_id then %>
  <%= link_to 'Edit', edit_profile_path(profile) %> 
<% else %>
  <% if @following.nil? %>
    <%= link_to 'Follow Me!', followings_path, method: :post %> 
  <% else %>
    <%= link_to 'Stop Following Me!', @following, method: :delete, data: { confirm: 'Are you sure?' } %> 
  <% end %>
<% end %>
<br />
Profile Image<br/>
<%= image_tag profile.image_url(:thumb_200) %>
<br />
<p>
  <b>First name:</b>
  <%= profile.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= profile.last_name %>
</p>

<p>
  <b>User:</b>
  <%= profile.user_id %>
</p>

<p>
  <b>User Name:</b>
  <%= current_user.slug %>
</p>

<p>
  <b>Location:</b>
  <%= current_user.profile.location %>
</p>


<p>
  <b>About:</b>
  <%= profile.about.html_safe if not profile.about.nil? %>
</p>
<br />

<h1>Events</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Event Date</th>
    <th>Location</th>
    <th>Bidding End</th>
  </tr>

<% events.each do |event| %>
  <tr>
    <td><%= link_to event.title, event %></td>
    <td><%= event.event_time %></td>
    <td><%= event.location %></td>
    <td><%= event.raise_end %></td>
  </tr>
<% end %>
</table>

<br />

<h1>Comments </h1>
<%= render "/comments/show_comments", :comments => comments %>
<% if current_user.followed_users.exists?(@user) or @user == current_user then %>
  <%= render '/comments/form' %>
<% end %>
