<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @profile.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @profile.last_name %>
</p>

<p>
  <b>User:</b>
  <%= @profile.user_id %>
</p>

<p>
  <b>Integer:</b>
  <%= @profile.user_name %>
</p>

<p>
  <b>About:</b>
  <%= @profile.about %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
