<p id="notice"><%= notice %></p>
<h1>Profile</h1>


<% if current_user.id = @profile.user_id then %>
  <%= link_to 'Edit', edit_profile_path(@profile) %> 
<% end %>
<br />
Profile Image<br/>
<%= image_tag @profile.image_url(:thumb_200) if @profile.image? %>
<br />
<p>
  <b>First name:</b>
  <%= @profile.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @profile.last_name %>
</p>

<p>
  <b>User:</b>
  <%= @profile.user_id %>
</p>

<p>
  <b>User Name:</b>
  <%= @profile.user_name %>
</p>
<p>
  <b>Custom URL:</b>
  <%= request.protocol + request.host_with_port + '/' + @profile.user_name %>
</p>


<p>
  <b>About:</b>
  <%= @profile.about.html_safe if not @profile.about.nil? %>
</p>
<br />

<h1>Events</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Event Date</th>
    <th>Location</th>
    <th>Bidding End</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.title, '/event/' + event.custom_url %></td>
    <td><%= event.event_time %></td>
    <td><%= event.location %></td>
    <td><%= event.raise_end %></td>
  </tr>
<% end %>
</table>

<br />

<h1>Comments </h1>
<%= render "/comments/show_comments", :comments => @comments %>
<%= render '/comments/form' %>