<% if not comments.empty? %>
  <table>
    <tr>
      <th></th>
      <th>From</th>
      <th>Date</th>
      <th>Content</th>
      <th></th>
    </tr>
  <%# will_paginate comments %>
  <%= paginate comments %>
  <br />
  <% comments.each do |comment| %>
    <tr>
      <td><%= link_to (image_tag comment.user.profile.image_url(:thumb_50)), comment.user  %></td>
      <td><%= comment.created_at.strftime("%m-%d-%Y %H:%M") %></td>
      <td><%= link_to comment.user.slug, comment.user %></td>
      <td><%= comment.content %></td>
      <td>
        <% if current_user.id == comment.user_id or current_user.id == @commentable.user_id then %>
          <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
  <br />
<% else %>
<p>Sorry, you do not have any comments yet.</p>
<% end %>