<%= link_to 'New Event', new_event_path %>
<br />
<br />

<%= link_to "All Open", events_path() %> | 
<%= link_to "Most Popular Completed", events_path(index_type: 'most_popular_completed') %> | 
<%= link_to "Most Popular Open", events_path(index_type: 'most_popular_open') %> |
<%= link_to "Local Events", events_path(index_type: 'local') %> | 
<%= link_to "All Completed", events_path(index_type: 'completed') %> 

<br />
<br />

<h1>Listing Events</h1>

<table>
  <tr>
    <th></th>
    <th>User</th>
    <th>Title</th>
    <th>Event Date</th>
    <th>Location</th>
    <th>Bidding End</th>
    <th>Following</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to image_tag(event.image_url(:thumb_50)), event  %></td>
    <td><%= link_to event.user.slug, event.user %><%# link_to event.user.profile.slug, '/profile/'+ event.user.profile.slug %></td>
    <td><%= link_to event.title, event %></td>

    <td><%= event.event_time %></td>
    <td><%= event.location %></td>
    <td><%= event.raise_end %></td>
    <td><%= event.followers.count %></td>
  </tr>
<% end %>
</table>

<br />


