<%= link_to 'New Event', new_event_path %>
<br />
<br />

<h1>Listing Events</h1>

<table>
  <tr>
    <th></th>
    <th>User</th>
    <th>Title</th>
    <th>Event Date</th>
    <th>Location</th>
    <th>Bidding End</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to image_tag(event.image_url(:thumb_50)), event  %></td>
    <td><%= link_to event.user.slug, event.user %><%# link_to event.user.profile.slug, '/profile/'+ event.user.profile.slug %></td>
    <td><%= link_to event.title, event %></td>

    <td><%= event.event_time %></td>
    <td><%= event.location %></td>
    <td><%= event.raise_end %></td>
  </tr>
<% end %>
</table>

<br />


