<p id="notice"><%= notice %></p>
<h1>Event </h1>
<% if current_user.id = @event.user_id then %>
  <%= link_to 'Edit', edit_event_path(@event) %> | <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<br />

<p>
  <b>User Name:</b>
  <%= @event.user.profile.user_name %>
</p>

<p>
  <b>Event Date:</b>
  <%= @event.event_time %>
</p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Minimum Cash to Raise:</b>
  <%= @event.minimum_raise %>
</p>

<p>
  <b>Bidding End:</b>
  <%= @event.raise_end %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>
<p>
  <b>Custom URL:</b>
  <%= request.protocol + request.host_with_port + '/' + @event.custom_url %>
</p>


