<p id="notice"><%= notice %></p>
<h1>Event </h1>
<% if current_user.id == @event.user_id then %>
  <%= link_to 'Edit', edit_event_path(@event) %> | <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<% if @following.nil? %>
  <%= link_to 'Follow Me!', followings_path, method: :post %> 
<% else %>
  <%= link_to 'Stop Following Me!', @following, method: :delete, data: { confirm: 'Are you sure?' } %> 
<% end %>
<br />
<% if @event.status == 'Complete' then %>
  <%= link_to image_tag('thumbs_up.png', width: "50", :border => 0), vote_for_event_path(@event), :remote => true  %>
  <%= link_to image_tag('thumbs_down.png', width: "50", :border => 0), vote_against_event_path(@event), :remote => true  %>
Total Votes: <%= @event.total_vote %>
<% end %>

<p>
<%= image_tag @event.image_url(:thumb_200) %>
</p>

<br />
<h1>Request Video</h1>
<%= raw youtube_embed(@event.request_video) %>
<br />
<h1>Proof Video</h1>
<%= raw youtube_embed(@event.proof_video) %>

<p>
  <b>User Name:</b>
  <%= link_to @event.user.slug, @event.user %>
</p>


<p>
  <b>Event Date:</b>
  <%= @event.event_time %>
</p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=10&markers=#{@event.latitude}%2C#{@event.longitude}" %>
<p>
  <b>Minimum Cash to Raise:</b>
  <%= @event.minimum_raise %>
</p>

<p>
  <b>Bidding End:</b>
  <%= @event.raise_end %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description.html_safe if not @event.description.nil? %>
</p>

<br />
<h1>Comments </h1>
<%= render "/comments/show_comments", :comments => @comments %>
<% if current_user.followed_events.exists?(@event) then %>
  <%= render '/comments/form' %>
<% else %>
  You must be following this event in order to post a comment.
<% end %>