<!DOCTYPE html>
<html>
<head>
  <title>Dare Me</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<br />
<ul class="hmenu">
	<% if user_signed_in? %>
  <li> <%= link_to 'Dashboard', dashboard_path%> </li>  
  <li> <%= link_to 'Show Dares', events_path%> </li>  
  <li> <%= link_to 'Profile', current_user %></li> 
  <li> <%= link_to 'Authentications', authentications_url %></li> 
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
  <li> <%= link_to 'Sign In With Facebook', user_omniauth_authorize_path(:facebook) %></li>
  <li> <%= link_to 'Sign In With YouTube', user_omniauth_authorize_path(:youtube) %></li>
  <% end %>
</ul>
<br />
<%= yield %>

</body>
</html>
